﻿

@{
    ViewBag.Title = "Add_Photo";
}


<!DOCTYPE html>



<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Index</title>


    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/AngularController/UsersAngularJS.js"></script>
    <link href="~/Content/css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>

<body>
    <br />
    <br />
    <div ng-app="MyApp" ng-controller="UsersController" class="row col-lg-12" data-ng-init="LoadAddPhotoForm2(@Convert.ToInt32(Request.QueryString["id"]))">

        <div class="card text-center ">
            <div class="card-header">
                <h2> Add Photos</h2>
            </div>
            <div class="card-body text-left card-ancho">

                <div class="form-group">
                    <label for="txtAlbumId">AlbumId:</label>
                    <input id="txtAlbumId" type="text" ng-model="txtAlbumId" ng-value="idAlbum" class="form-control" readonly disabled />
                </div>

                <div class="form-group">
                    <label for="txtId">Id:</label>
                    <input id="txtId" type="text" ng-model="txtId" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="txtTitle">Title:</label>
                    <input id="txtTitle" type="text" ng-model="txtTitle" class="form-control" />
                </div>

                <div class="form-group">
                    <label for="txtUrl">URL:</label>
                    <input id="txtUrl" type="text" ng-model="txtUrl" class="form-control" />
                </div>

                <div class=" form-group">
                    <label for="txtThumbnailUrl">ThumbnailUrl:</label>
                    <input id="txtThumbnailUrl" type="text" ng-model="txtThumbnailUrl" class="form-control" />
                </div>

                <br />
                <div class="form-group">
                    <input type="button" value="Save" class="btn btn-primary" ng-click="AddPhoto()" />
                </div>




            </div>
            <div class="card-footer text-muted">

            </div>
        </div>





    </div>




</body>

</html>
