﻿<!DOCTYPE html>



<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Albums</title>


    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/AngularController/UsersAngularJS.js"></script>
    <link href="~/Content/css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</head>

<body>
    <br />
    <br />
    <div ng-app="MyApp" ng-controller="UsersController" class="row col-lg-12" data-ng-init="loadAlbum(@Convert.ToInt32(Request.QueryString["id"]))">

        <div class="card text-center">
            <div class="card-header">
                <h2>Albums</h2>
            </div>
            <div class="card-body">
                <table class="table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>AlbumId</td>
                            <td>Title</td>
                            <td>Photos</td>
                            <td></td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="e in register">

                            <td>{{e.id}}</td>
                            <td>{{e.title}}</td>



                            <td><a href="/Users/Photos?id={{e.id}}">Photos</a></td>
                            <td><a href="/Users/Update_Album?id={{e.id}}">Update</a></td>



                        </tr>

                    </tbody>

                </table>
            </div>
            <div class="card-footer text-muted">

            </div>
        </div>



       



    </div>




</body>

</html>

