﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/AngularController/UsersAngularJS.js"></script>
    <link href="~/Content/css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</head>
<body>

    <br />
    <br />
    <div ng-app="MyApp" ng-controller="UsersController" class="row col-lg-12" data-ng-init="ButtonClick()">

        <div class="card text-center">
            <div class="card-header">
                <h2> Search Users</h2>
            </div>
            <div class="card-body">
                <h5>
                    <label class="radio-inline">
                        <input type="radio" ng-model="chk" value="1" checked>Name, username, email
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" ng-model="chk" value="2">City
                    </label>
                </h5>

                <h5>
                    <input type="text" ng-model="txtFilter" />
                </h5>

                <input type="button" value="Search" class="btn btn-primary" ng-click="ButtonSearch1_Click()" />
            </div>
            <div class="card-footer text-muted">

            </div>
            <div class="card-header">
                <h2> Users Information</h2>
                @*<input type="button" value="Submit" ng-click="ButtonClick()" />*@
            </div>
            <div class="card-body">
                <table class="table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>UserName</td>
                            <td>Email</td>
                            <td>Address</td>
                            <td>Photo</td>
                            <td></td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="e in record">

                            <td>{{e.name}}</td>

                            <td>{{e.username}}</td>

                            <td>{{e.email}}</td>

                            <td>{{e.address.street}}, {{e.address.suite}}, {{e.address.city}}</td>

                            <td><img src="{{e.firstPhoto}}" /></td>

                            <td><a href="/Users/Albums?id={{e.id}}">Albums</a></td>



                        </tr>

                    </tbody>

                </table>
            </div>
        </div>




    </div>
</body>
</html>
