﻿<!DOCTYPE html>



<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Index</title>


    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/AngularController/UsersAngularJS.js"></script>
    <link href="~/Content/css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</head>

<body>
    <br />
    <br />
    <div ng-app="MyApp" ng-controller="UsersController" class="row col-lg-12" data-ng-init="loadPhoto(@Convert.ToInt32(Request.QueryString["id"]))">
        <div class="card text-center">
            <div class="card-header">
                <h2> Photos</h2>
                <div class="row">
                    <div class="col-5">
                        AlbumId:
                        <input type="text" ng-model="txtIdAlbum" ng-value="AlbumId" class="form-control pull-left" readonly disabled />
                    </div>

                    <div class="col-5" style="padding-top: 25px;">
                        <input type="button" value="Add Photo" class="btn btn-primary pull-right" ng-click="LoadAddPhotoForm()" />
                    </div>
                </div>

                <div class="form-group col-lg-3">


                </div>



            </div>
            <div class="card-body">
                <table class="table-bordered table-striped">
                    <thead>
                        <tr>
                            <td>PhotoId</td>
                            <td>Title</td>
                            <td>Thumbnail</td>

                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="e in register">

                            <td>{{e.id}}</td>
                            <td>{{e.title}}</td>

                            <td><a ng-href="{{e.url}}"><img src="{{e.thumbnailUrl}}" /></a></td>


                            <td><a class="link" ng-click="deletePhoto(e.id)">Delete</a></td>

                        </tr>

                    </tbody>

                </table>
            </div>
            <div class="card-footer text-muted">

            </div>
        </div>


       



    </div>




</body>

</html>

