﻿
@{
    ViewBag.Title = "Update_Album";
}

<!DOCTYPE html>



<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Index</title>


    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/AngularController/UsersAngularJS.js"></script>
    <link href="~/Content/css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>

<body>
    <br />
    <br />
    <div ng-app="MyApp" ng-controller="UsersController" class="row col-lg-12" data-ng-init="loadAlbumInfo(@Convert.ToInt32(Request.QueryString["id"]))">
        <div class="card text-center">
            <div class="card-header">
                <h2>Update Album</h2>
            </div>
            <div class="card-body text-left card-ancho">
                <div class="form-group">

                    <label>AlbumId</label>

                    <input type="text" ng-model="register.id" class="form-control" readonly disabled />

                </div>

                <div class="form-group">

                    <label>Title</label>

                    <input type="text" ng-model="register.title" class="form-control" />

                </div>
                <div class="form-group" hidden>

                    <label>Title</label>

                    <input type="text" ng-model="register.userId" class="form-control" />

                </div>



                <div class="form-group">

                    <input type="button" class="btn btn-primary" ng-click="UpdateButtonClick()" value="Update" />

                </div>
            </div>
            <div class="card-footer text-muted">

            </div>
        </div>


       




    </div>




</body>

</html>


