﻿


th, td {
    padding: 10px;
}

.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
}

.link {
    color: blue !important;
   /* text-decoration: underline blue !important;*/
}

    .link:hover {
        text-decoration: underline blue !important;
    }

.card-ancho {
    width: 350px;
}